@page "{id:int?}"
@model SSD_Assignment_Group_4.Pages.Recipes.CreateModel

@{
    ViewData["Title"] = "Create";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">


<h1>Create</h1>

<h4>Recipe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-antiforgery="true">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Recipe.Title" class="control-label"></label>
                <input asp-for="Recipe.Title" class="form-control" />
                <span asp-validation-for="Recipe.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recipe.Cuisine" class="control-label"></label>
                <input asp-for="Recipe.Cuisine" class="form-control" />
                <span asp-validation-for="Recipe.Cuisine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recipe.Ingredients" class="control-label"></label>
                <input asp-for="Recipe.Ingredients" class="form-control" />
                <span asp-validation-for="Recipe.Ingredients" class="text-danger"></span>
            </div>

            Add Steps: &nbsp; <span class="fa fa-plus add"></span>
            <div class="form-group appending_div"></div>
            <input type="hidden" name="Count" id="Count"/>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

<script>

$(document).ready(function () {
    var i = 1;
    $('.add').on('click', function () {
        var field = '<br><div>Step ' + i + ': <textarea class="form-control" type="text" name="Step' + i + '" id="Step' + i + '" ></textarea></div>';
        $('.appending_div').append(field);
        $("#Count").val(i);
        i = i + 1;
    })
})
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
