@page
@model SSD_Assignment_Group_4.Pages.Comments.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>RecipeComment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RecipeComment.Comments" class="control-label"></label>
                <input asp-for="RecipeComment.Comments" class="form-control" />
                <span asp-validation-for="RecipeComment.Comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecipeComment.PublishedDate" class="control-label"></label>
                <input asp-for="RecipeComment.PublishedDate" class="form-control" />
                <span asp-validation-for="RecipeComment.PublishedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecipeComment.RecipesID" class="control-label"></label>
                <select asp-for="RecipeComment.RecipesID" class ="form-control" asp-items="ViewBag.RecipesID"></select>
            </div>
            <div class="form-group">
                <label asp-for="RecipeComment.Rating" class="control-label"></label>
                <input asp-for="RecipeComment.Rating" class="form-control" />
                <span asp-validation-for="RecipeComment.Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
